<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />

	{% load staticfiles %}

	<style>
			  * {
					padding: 0;
					margin: 0;
			  	}
			  .fit { /* set relative picture size */
				max-width: 100vw;
				max-height: 100vh;
			  	}
			  .center {
				display: block;
				margin: auto;
			  	}

	</style>

</head>
<body onload="onload();">
	<div id="maindiv" style="width:100%; height:100%">
	</div>
	<script src="{% static 'videos/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'videos/js/imageloop.js' %}"></script>
</body>
</html>
